<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <a href="{{ url_for('main.index') }}">Homepage</a>
    <a href="{{ url_for('display_env.display') }}">Display Environment Variables</a>
    <a href="{{ url_for('edit_env.edit_env') }}">Edit Environment Variables</a>
    {% block body %}{% endblock %}
</body>
</html>
